{% extends 'base.html' %}

{% block content %}
    <h1>Create a new task</h1>

    <main>
        <div class="narrow-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>

{% endblock content %}