{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        <p><a href="{% url 'create_task' %}">Create a new Task</a></p>
        <table class="tasks-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in show_my_tasks %}
                <tr>
                    <td>
                        <ul>{{ tasks.name }}</ul>
                    </td>
                    <td>
                        <ul>{{ tasks.start_date }}</ul>
                    </td>
                    <td>
                        <ul>{{ tasks.due_date }}</ul>
                    </td>
                    <td>
                        <ul>{{ tasks.value|yesno:"yeah,no,maybe" }}</ul>
                    </td>
                </tr>
                {%empty%}
                <p>You have no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}