{% extends 'base.html' %}


{% block content %}

    <div>
        <h1>My Projects</h1>
        <h1>{{ show_project.name }}</h1>
        <h2>{{ show_project.description }}</h2>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new Task</a></p>
        <table class="tasks-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    {% comment %} <th>{{ tasks._object.title }}</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for tasks in show_project.tasks.all %}
                    <tr>
                        {% comment %} <td>
                            <a href="{% url 'show_project' task.id %}">{{ tasks.name }}</a>
                        </td> {% endcomment %}
                        <td>
                            <ul>{{ tasks.name }}</ul>
                        </td>
                        <td>
                            <ul>{{ tasks.assignee }}</ul>
                        </td>
                        <td>
                            <ul>{{ tasks.start_date }}</ul>
                        </td>
                        <td>
                            <ul>{{ tasks.due_date }}</ul>
                        </td>
                        <td>
                            <ul>{{ tasks.value|yesno:"yeah,no,maybe" }}</ul>
                        </td>
                    </tr>
                {%empty%}
                    <p>This project has no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}


