{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new Task</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                    {% comment %} <th>{{ project.name }}</th> {% endcomment %}
                </tr>
            </thead>
            {% for project in list_projects %}
                <tb>
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        {% comment %} <td>
                            <a href="{% url 'list_projects' item.id %}">{{ project.name }}</a>
                        </td> {% endcomment %}
                        {% comment %} <td>{{ project.name }}</td> {% endcomment %}
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
            {%empty%}
                <p>You are not assigned to any projects</p>
            {% endfor %}
        </tb>
    </table>
    </div>
</main>

{% endblock content %}